<nav class="navbar">
  <div class="logo"><a href="https://ryanmontville.github.io/">Ryan Montville</a> | War</div>
  <ul class="nav-links">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <div class="menu">
          <li><a routerLink="/">Welcome Screen</a></li>
          <li><a routerLink="/play-game">Game</a></li>
          <li><a routerLink="/">Simulation</a></li>
          <li><a href="https://github.com/RyanMontville/War">View GitHub Repo</a></li>
          <li><a href="https://www.github.com/RyanMontville" title="GitHub" target="blank"><i
            class="fa-brands fa-github"></i><span class="link-desc"></span></a></li>
          <li><a href="https://www.linkedin.com/in/ryanmontville" title="LinkedIn" target="blank"><i
            class="fa-brands fa-linkedin-in"></i></a></li>
      </div>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>

